<h1>Portfolios</h1>
<a href="/portfolios/new">Add New</a>
<ul>
  <% portfolios.forEach(p => { %>
    <li>
      <a href="/portfolios/<%= p.id %>"><%= p.name %></a> - <%= p.role %>
    </li>
  <% }) %>
</ul>
