<h2>New Portfolio</h2>
<form action="/portfolios" method="POST" enctype="multipart/form-data">
  Name: <input name="name" /><br/>
  Role: <input name="role" /><br/>
  Photo: <input type="file" name="photo" /><br/>
  <button type="submit">Create</button>
</form>

